{% extends "socialaccount/base.html" %}
{% load i18n %}

{% block content %}
<div id="login">
  <h3 class="text-center text-white pt-5">Login form</h3>
  <div class="container">
      <div id="login-row" class="row justify-content-center align-items-center">
          <div id="login-column" class="col-md-6">
              <div id="login-box" class="col-md-12">
                <form method="post">
                  {% csrf_token %}
                  <div class="form-group">
                  <div class="container-fluid  margin">
                    <button  type="submit" class="themeBtn">{% trans "Continue" %}</button>
                  </div>
                </div>
                </form>
              </div>
          </div>
      </div>
  </div>
</div>


{% endblock %}



